---
import Rating from "../components/Rating.astro";
import Stjerner from "../components/Stjerner.astro";
---
<!-- <section class="w-full overflow-hidden -z-50 relative -translate-y-96">
    <img src="3-trans-pic.png" alt="" class="w-full">
</section> -->
<!-- <section class="w-full overflow-hidden -z-50 relative -translate-y-2/3">
    <div class="w-full">
        <img src="green-blob.webp" alt="" class="w-full">
    </div>
</section> -->

