---

---

<div class="container md:mr-5 mr-0 text-right mt-3 ">
  <div class="text-wrapper flex flex-row-reverse ">
      <div class="box b1 flex-end"><h1>User Interface</h1></div>
      <div class="box b2 flex-end"><h1>Digital design</h1></div>
      <div class="box b3 flex-end"><h1>Design systemer</h1></div>
      <div class="box b4 flex-end"><h1>User experience</h1></div>
      <div class="box b5 flex-end"><h1>So-Me</h1></div>
  </div>
</div>

<style>

.box {
  opacity: 0%;
  position:absolute;
  z-index: 0;
}

.container{
  z-index: 0;
}

.b1 {
  animation: ani1 10s infinite;
}
.b2 {
  animation: ani2 10s infinite;
}
.b3 {
  animation: ani3 10s infinite;
}
.text-focus-in {
      -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
              animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
  @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  
  .b1 {
      animation: ani1 12s infinite;
  }
  .b2 {
      animation: ani2 12s infinite;
  }
  .b3 {
      animation: ani3 12s infinite;
  }
  .b4 {
      animation: ani4 12s infinite;
  }
  .b5 {
      animation: ani5 12s infinite;
  }
  @keyframes ani1 {
  0%{
      opacity:0
  }
  10%{
      opacity:1
  }
  20%{
      opacity:0
  }
  }
  @keyframes ani2 {
  20%{
      opacity:0
  }
  30%{
      opacity:1
  }
  40%{
      opacity:0
  }
  }
  @keyframes ani3 {
  40%{
      opacity:0
  }
  50%{
      opacity:1
  }
  60%{
      opacity:0
  }
  }
  @keyframes ani4 {
  60%{
      opacity:0
  }
  70%{
      opacity:1
  }
  80%{
      opacity:0
  }
  }
  @keyframes ani5 {
  80%{
      opacity:0
  }
  90%{
      opacity:1
  }
  100%{
      opacity:0
  }
  }

h1{
  color:#ee4799;
}

</style>