@import url("https://use.typekit.net/igd2ned.css");

@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "fisterra-fora";
  src: url("https://use.typekit.net/af/6aab64/00000000000000007755a07f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/6aab64/00000000000000007755a07f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("woff"),
    url("https://use.typekit.net/af/6aab64/00000000000000007755a07f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}

@layer base {
  .fisterra {
    font-family: "fisterra-fora";
    font-weight: 700;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply fisterra; /* Sørg for at klassen eksisterer */
    color: #ffffff;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  h1 {
    @apply font-black text-3xl md:text-6xl lg:text-7xl;
  }
  h2 {
    @apply font-black text-3xl md:text-5xl;
  }
  h3 {
    @apply text-2xl md:text-xl mt-0;
  }
  h4 {
    @apply font-black uppercase text-xl md:text-3xl;
  }
  h5 {
    @apply text-lg md:text-xl;
  }
  h6 {
    @apply font-extrabold text-lg md:text-xl;
  }

  li {
    @apply fisterra; /* Sørg for at klassen eksisterer */
  }
}

@layer base {
  .outfit {
    font-family: "outfit";
    font-weight: 400;
    font-size: 22px;
  }

  .league-spartan-font {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  #HvemErJeg,
  #Kompetencer,
  #HvadJegSoger,
  #Kontakt {
    scroll-behavior: smooth;
  }

  p {
    @apply league-spartan-font;
    color: #ffffff;
    font-size: 22px;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    line-height: 29px;
  }
  li {
    @apply league-spartan-font;
  }
  a {
    @apply league-spartan-font;
  }
  @media (max-width: 1200px) {
    p {
      @apply league-spartan-font;
      color: #ffffff;
      font-size: 18px;
      margin-top: 0.4rem;
      margin-bottom: 0.7rem;
      line-height: 20px;
    }
  }

  @media (max-width: 768px) {
    p {
      @apply league-spartan-font;
      color: #ffffff;
      font-size: 14px;
      margin-top: 0.4rem;
      margin-bottom: 0.8rem;
    }
  }
}
@layer utilities {
  .rotate-center {
    -webkit-animation: rotate-center 8s linear infinite both;
    animation: rotate-center 8s linear infinite both;
  }

  .rotate-center-left {
    -webkit-animation: rotate-center 8s linear infinite reverse both;
    animation: rotate-center 8s linear infinite reverse both;
  }

  .wobble-hor-bottom {
    -webkit-animation: wobble-hor-bottom 0.5s both;
    animation: wobble-hor-bottom 0.5s both;
  }

  /* ----------------------------------------------
 * Generated by Animista on 2024-10-9 16:43:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  /**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
  @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2024-10-9 16:48:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  /**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
  @-webkit-keyframes rotate-center-left {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotate-center-left {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  /* ----------------------------------------------
 * Generated by Animista on 2024-10-11 14:12:19
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

  /**
 * ----------------------------------------
 * animation wobble-hor-bottom
 * ----------------------------------------
 */
  @-webkit-keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-12px) rotate(-6deg);
      transform: translateX(-12px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(12px) rotate(6deg);
      transform: translateX(12px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-6px) rotate(-3.6deg);
      transform: translateX(-6px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(6px) rotate(2.4deg);
      transform: translateX(6px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-3px) rotate(-1.2deg);
      transform: translateX(-3px) rotate(-1.2deg);
    }
  }
  @keyframes wobble-hor-bottom {
    0%,
    100% {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
    }
    15% {
      -webkit-transform: translateX(-4px) rotate(-6deg);
      transform: translateX(-4px) rotate(-6deg);
    }
    30% {
      -webkit-transform: translateX(4px) rotate(6deg);
      transform: translateX(4px) rotate(6deg);
    }
    45% {
      -webkit-transform: translateX(-4px) rotate(-3.6deg);
      transform: translateX(-4px) rotate(-3.6deg);
    }
    60% {
      -webkit-transform: translateX(4px) rotate(2.4deg);
      transform: translateX(4px) rotate(2.4deg);
    }
    75% {
      -webkit-transform: translateX(-3px) rotate(-1.2deg);
      transform: translateX(-3px) rotate(-1.2deg);
    }
  }
}
body {
  cursor: url("/public/cursor/star-pointer.png"), auto;
}

a,
button,
.clickable {
  cursor: url("/public/cursor/star-hover.png"), pointer; /* Specifik markør for klikbare elementer */
}
