---
import MainLayout from "../layouts/MainLayout.astro";
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import cutout from "../assets/images/cutout-body.webp";
import Stjerner from "../components/Stjerner.astro";
import frimaerke from "../assets/images/pfp-frimaerke.png";
import Bg1 from "../components/BG1.astro";
import Rating from "../components/Rating.astro";
import TekstAnimation from "../components/TekstAnimation.astro";
---
<MainLayout title="Praktikansøgning - Ida-Matilde">

	<section><titel><titel/> </section>

<section id="hero" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-7 md:pb-40 lg:pb-0 md:pl-20 md:pr-20 lg:pl-80 lg:pr-40 pt-14 md:px-0 px-8 mb-20">
		<div class="md:col-start-1 md:col-span-4 col-span-2 md:pt-2 pt-1">
			<div class="flex flex-col md:flex-end flex-start md:items-end items-start h-min">
				<h1 class="flex md:hidden md:pl-20 md:text-[6rem] lg:text-[8rem] text-5xl text-black m-0">Multimedie-</h1>
				<h1 class="lg:text-[8rem] md:text-[6rem] text-5xl hidden md:flex text-black m-0 md:pb-0 pb-9">Multimedie-</h1>
				<h1 class="lg:text-[8rem] md:text-[6rem] text-5xl text-black m-0">Designer</h1>
			<h2 class="md:text-[4rem] text-black m-0 md:pt-14 pt-4">med en</h2>
			<h2 class="md:text-[4rem] text-black m-0">passion for</h2>
			<div class="grid grid-cols-2 z-0 mt-4 lg:mt-0">
			<div class="lg:col-span-2 md:mr-0"><TekstAnimation> <TekstAnimation/></div>
			</div>
		</div>
	</div>
<!-- responsivt billede der ligner at det ikke fungere på desktop mobiltilstand,, men virker på mobiler -->
	<Image class="absolute bottom-80 right-[8px] sm:bottom-auto sm:right-auto sm:relative w-28 h-auto md:w-52 md:h-[auto] lg:w-72 lg:h-[auto] md:pt-20 pl-4 md:pl-10 md:col-start-5 md:col-span-3" src={cutout} alt="Udklip af mig"></Image>
	</section>
<!-- <article class="grid grid-cols-3">
<div class="col-start-1 col-span-2">
	<div>
		<div class="flex flex-col flex-end items-end h-min">
			<h1 class="md:flex text-black m-0">Multimedie-</h1>
			<h1 class="md:text-[8rem] text-black m-0">Designer</h1>
		<h2 class="md:text-[4rem] text-black m-0 pt-8">med en</h2>
		<h2 class="md:text-[4rem] text-black m-0">passion for</h2>
		<div class="z-0 mt-4">
		<div class=""><TekstAnimation> <TekstAnimation/></div>
		</div>
	</div>
</div>
<Image class="w-auto h-72 md:w-[auto] md:h-[40rem] pt-9 pl-0 col-start-3" src={cutout} alt="Udklip af mig"></Image>
	</article> -->
	<div id="HvemErJeg"></div>
	<Bg1><section class="bg-[#398E7A] md:grid md:grid-cols-2 flex flex-col md:px-20 lg:px-44 px-6">
		<div class="flex flex-row md:flex-col md:pb-0 pb-5">
		<Image class="md:h-auto h-[100%] md:w-[300px] lg:w-[400px] w-48" src={frimaerke} alt="billede af mig med frimærkeramme"></Image>
		<h2 class=".fisterra md:hidden flex flex-wrap text-wrap text-6xl">Lidt om mig</h2>
	</div>
		<div class="flex flex-col max-w-[450px] md:max-w-[100%] m-auto">
		<h2 class=".fisterra hidden md:block">Lidt om mig</h2>
		<p>Mit navn er <span class="text-[#E6E657] font-medium">Ida-Matilde</span>, og jeg er 21 år gammel. Jeg studerer <span class="text-[#E6E657] font-medium">multimediedesign</span> på Københavns Erhvervsakademi, hvor jeg nu er halvvejs gennem min uddannelse.</p>
		<p>Min interesse for <span class="text-[#E6E657] font-medium">digital design</span> blev vakt på Krabbesholm Højskole, hvor jeg tog to semestre. På højskolen havde jeg et lærerigt forløb på linjen “Visuel Kommunikation”, hvor jeg b.la blev introduceret for <span class="text-[#E6E657] font-medium">Adobe-pakken</span>.</p>
	<p>Som <span class="text-[#E6E657] font-medium">digital designer</span> brænder jeg for at skabe spændende visuelle løsninger og producere kreativt indhold.</p>	
	</div>
	</section>
</Bg1>
	<section class="w-full overflow-hidden relative md:-translate-y-96 lg:-translate-y-96">
<div class="md:hidden flex justify-center"><Stjerner /></div>	
<div id="Kompetencer"></div>
<section class="flex flex-col lg:flex-row md:px-44 md:gap-32 m-auto">
	<div class="lg:px-10 md:px-6 px-4 max-w-[450px] md:max-w-[100%] justify-center m-auto">
	<h2 class="text-black">Mine faglige kompetencer</h2>
	<div class="flex flex-col">
	<p class="text-black">Under min uddannelse lærer jeg diverse teknikker og programmer til at lave <span class="text-[#ee4799] font-medium">digitalt indhold</span> og <span class="text-[#ee4799] font-medium">kreative webløsninger</span>.
	</p>
		<p class="text-black">Mine skoleprojekter består bl.a. af at arbejde med interaktive Figma-prototyper, som jeg derefter koder i VSCode. Jeg har kodet i <span class="text-[#ee4799] font-medium">HTML</span>, <span class="text-[#ee4799] font-medium">CSS</span> og lidt <span class="text-[#ee4799] font-medium">JavaScript</span>, og benyttet mig af Astro, Tailwind, Animate.css og Alpine.
		</p>
		<p class="text-black">Jeg elsker at arbejde med <span class="text-[#ee4799] font-medium">grafisk design</span> og visuelle elementer og stræber altid efter at kombinere <span class="text-[#ee4799] font-medium">kreativitet</span> med <span class="text-[#ee4799] font-medium">funktionalitet</span> i mine designs. I min fritid arbejder jeg også med personlige projekter, som inkluderer social media-indhold og optimering af <span class="text-[#ee4799] font-medium">visuel identitet</span> for mindre <span class="text-[#ee4799] font-medium">virksomheder</span>.
		</p>
		<p class="text-black">
			Jeg er altid <span class="text-[#ee4799] font-medium">målrettet</span> og <span class="text-[#ee4799] font-medium">fokuseret</span> på at få projekter til at lykkes, og jeg er <span class="text-[#ee4799] font-medium">nysgerrig</span> efter at lære mere om alle aspekter af dem.</p>

	</div>
</div>
	<article class="md:flex flex-col align-middle place-self-center md:pt-0 pt-6 lg:pb-0 pb-10">
		<div class="border-black border-solid border-2 w-fit md:p-2 p-0">
		<div id="illustrator" class="flex flex-row content-center items-center gap-3 p-5">
		<svg width="55" height="55" viewBox="0 0 51 50" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M44.9696 1.46729H6.1162C3.81052 1.46729 1.94141 3.33664 1.94141 5.64262V44.501C1.94141 46.807 3.81052 48.6763 6.1162 48.6763H44.9696C47.2752 48.6763 49.1444 46.807 49.1444 44.501V5.64262C49.1444 3.33664 47.2752 1.46729 44.9696 1.46729Z" stroke="#075225" stroke-width="2" stroke-miterlimit="10"/>
			<path d="M17.4431 31.4322L15.3974 37.3473H11.1113L19.1269 14.1324H24.5681L32.9176 37.3473H28.3254L26.1962 31.4322H17.4431ZM25.2082 27.8554C23.3713 22.5388 22.258 19.3794 21.7292 17.4031C21.1169 19.5047 19.8923 23.2903 18.4172 27.8554H25.2082Z" fill="#075225"/>
			<path d="M35.7988 12.7964H39.9736V16.8743H35.7988V12.7964ZM35.7988 20.0893H39.9736V37.3473H35.7988V20.0893Z" fill="#075225"/>
			</svg>
			<div class="flex-row flex gap-3 md:w-auto md:h-auto w-48"><svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
				</svg>
				<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
					</svg>
					<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
						</svg>
						<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
							</svg>
							<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
								<defs>
								  <style>
									.cls-1 {
									  fill: #ee4799;
									}
								  </style>
								</defs>
								<g data-name="Layer_1">
								  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
								</g>
							  </svg></div>
		</div>
		<div id="photoshop" class="flex flex-row content-center items-center gap-3 p-5">
			<svg width="55" height="55" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M44.4244 1.34937H5.97159C3.68969 1.34937 1.83984 3.19945 1.83984 5.48165V43.9395C1.83984 46.2217 3.68969 48.0717 5.97159 48.0717H44.4244C46.7063 48.0717 48.5562 46.2217 48.5562 43.9395V5.48165C48.5562 3.19945 46.7063 1.34937 44.4244 1.34937Z" stroke="#075225" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M8.35352 13.0299H17.5949C22.3326 13.0299 25.5554 15.6883 25.5554 19.9859C25.5554 24.8069 21.9607 27.121 17.4571 27.121H12.6781V35.9916H8.35352V13.0299ZM12.6781 23.6499H16.9338C19.523 23.6499 21.1344 22.5342 21.1344 20.0823C21.1344 17.6305 19.344 16.501 17.0026 16.501H12.6781V23.6499Z" fill="#075225"/>
				<path d="M31.5337 30.9503C31.7345 31.7129 32.2057 32.3764 32.8594 32.8174C33.5131 33.2583 34.3048 33.4465 35.087 33.347C37.084 33.347 37.8415 32.5757 37.8415 31.3635C37.8415 30.1514 37.0978 29.5729 34.3846 28.8979C29.0546 27.5894 28.1043 25.9502 28.1043 23.5673C28.1043 21.1843 29.881 18.5259 34.7702 18.5259C39.6595 18.5259 41.4499 21.2807 41.6565 23.5948H37.6762C37.4834 22.8097 36.9325 21.5011 34.5774 21.5011C32.7319 21.5011 32.1535 22.3414 32.1535 23.2229C32.1535 24.1045 32.7457 24.7105 35.6379 25.3855C41.1469 26.6803 42.0421 28.5536 42.0421 31.0743C42.0421 33.9531 39.811 36.3911 34.9355 36.3911C30.06 36.3911 27.8564 33.9806 27.457 30.9503H31.5337Z" fill="#075225"/>
				</svg>
				<div class="flex-row flex gap-3 md:w-auto md:h-auto w-48"><svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
					</svg>
					<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
						</svg>
						<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
							</svg>
							<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
								<defs>
								  <style>
									.cls-1 {
									  fill: #ee4799;
									}
								  </style>
								</defs>
								<g data-name="Layer_1">
								  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
								</g>
							  </svg>
								<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
									<defs>
									  <style>
										.cls-1 {
										  fill: #ee4799;
										}
									  </style>
									</defs>
									<g data-name="Layer_1">
									  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
									</g>
								  </svg></div>	
		</div>
		<div id="premierepro" class="flex flex-row content-center items-center gap-3 p-5">
			<svg width="55" height="55" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M44.4244 1.41052H5.97159C3.68969 1.41052 1.83984 3.26061 1.83984 5.54281V44.0006C1.83984 46.2828 3.68969 48.1329 5.97159 48.1329H44.4244C46.7063 48.1329 48.5562 46.2828 48.5562 44.0006V5.54281C48.5562 3.26061 46.7063 1.41052 44.4244 1.41052Z" stroke="#075225" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M10.1992 13.2839H19.4268C24.1645 13.2839 27.3873 15.9424 27.3873 20.2537C27.3873 25.0609 23.8064 27.3888 19.2891 27.3888H14.51V36.2594H10.1992V13.2839ZM14.51 23.9039H18.8208C21.41 23.9039 23.0214 22.802 23.0214 20.3364C23.0214 17.8708 21.2448 16.7688 18.8897 16.7688H14.51V23.9039Z" fill="#075225"/>
				<path d="M30.5 23.8212C30.5 21.8928 30.5 20.4328 30.5 19.1793H34.5491C34.5491 19.6063 34.6593 21.1766 34.6593 22.3474C35.0902 21.253 35.8536 20.3213 36.8419 19.6838C37.8303 19.0462 38.9937 18.7349 40.1683 18.7936V22.7744C36.7252 22.7744 34.6593 23.9728 34.6593 28.5321V36.2594H30.5275L30.5 23.8212Z" fill="#075225"/>
				</svg>
				<div class="flex-row flex gap-3 md:w-auto md:h-auto w-48"><svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
					</svg>
					<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
						</svg>
						<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
							</svg>
							<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
								<defs>
								  <style>
									.cls-1 {
									  fill: #ee4799;
									}
								  </style>
								</defs>
								<g data-name="Layer_1">
								  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
								</g>
							  </svg>
								<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
									<defs>
									  <style>
										.cls-1 {
										  fill: #ee4799;
										}
									  </style>
									</defs>
									<g data-name="Layer_1">
									  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
									</g>
								  </svg></div>		
		</div>
		<div id="indesign" class="flex flex-row content-center items-center gap-3 p-5">
			<svg width="55" height="55" viewBox="0 0 50 51" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M44.5973 1.82471H5.3711C3.0433 1.82471 1.15625 3.712 1.15625 6.0401V45.2714C1.15625 47.5995 3.0433 49.4868 5.3711 49.4868H44.5973C46.9251 49.4868 48.8121 47.5995 48.8121 45.2714V6.0401C48.8121 3.712 46.9251 1.82471 44.5973 1.82471Z" stroke="#075225" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M16.9756 14.4148V37.8383H12.5781V14.4148H16.9756Z" fill="#075225"/>
				<path d="M37.3479 13.0095V33.0045C37.3479 34.6064 37.3479 36.2223 37.3479 37.8382H33.4141C33.3073 37.1637 33.2416 36.4833 33.2174 35.8008C32.3042 37.3183 30.7025 38.3019 28.0191 38.3019C23.5794 38.3019 20.7695 34.6766 20.7695 29.295C20.7695 23.9133 23.748 20.0211 28.6372 20.0211C31.3347 20.0211 32.6835 21.0328 33.105 21.8759V13.0095H37.3479ZM25.153 29.1685C25.153 32.8359 26.6984 34.7891 29.1852 34.7891C32.7537 34.7891 33.3017 31.9788 33.3017 28.9999C33.3017 25.7119 32.7537 23.3794 29.3397 23.3794C26.6282 23.4356 25.153 25.5714 25.153 29.1685Z" fill="#075225"/>
				</svg>
				<div class="flex-row flex gap-3 md:w-auto md:h-auto w-48"><svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
					</svg>
					<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
						</svg>
						<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
							<defs>
							  <style>
								.cls-1 {
								  fill: #ee4799;
								}
							  </style>
							</defs>
							<g data-name="Layer_1">
							  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
							</g>
						  </svg>
							<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
								<defs>
								  <style>
									.cls-1 {
									  fill: #ee4799;
									}
								  </style>
								</defs>
								<g data-name="Layer_1">
								  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
								</g>
							  </svg>
								<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
									<defs>
									  <style>
										.cls-1 {
										  fill: #ee4799;
										}
									  </style>
									</defs>
									<g data-name="Layer_1">
									  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
									</g>
								  </svg></div>			
		</div>
		<div id="figma" class="flex flex-row content-center items-center gap-3 p-5">
			<svg width="55" height="55" viewBox="0 0 51 51" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M45.5094 1.04224H5.64831C3.28283 1.04224 1.36523 2.96008 1.36523 5.32586V45.1922C1.36523 47.5579 3.28283 49.4758 5.64831 49.4758H45.5094C47.8749 49.4758 49.7925 47.5579 49.7925 45.1922V5.32586C49.7925 2.96008 47.8749 1.04224 45.5094 1.04224Z" stroke="#075225" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M25.6065 25.2591C25.6065 23.7387 26.198 22.2806 27.251 21.2056C28.304 20.1305 29.7321 19.5266 31.2212 19.5266C32.7103 19.5266 34.1385 20.1305 35.1915 21.2056C36.2444 22.2806 36.836 23.7387 36.836 25.2591C36.836 26.7794 36.2444 28.2375 35.1915 29.3125C34.1385 30.3876 32.7103 30.9915 31.2212 30.9915C29.7321 30.9915 28.304 30.3876 27.251 29.3125C26.198 28.2375 25.6065 26.7794 25.6065 25.2591ZM14.377 36.724C14.377 35.2037 14.9685 33.7456 16.0215 32.6705C17.0744 31.5955 20.6081 30.9915 22.0972 30.9915H25.6065V36.724C25.6065 38.2444 25.0149 39.7024 23.9619 40.7775C22.909 41.8525 21.4808 42.4565 19.9917 42.4565C18.5026 42.4565 17.0744 41.8525 16.0215 40.7775C14.9685 39.7024 14.377 38.2444 14.377 36.724ZM25.6065 8.06165V19.5266H31.2212C32.7103 19.5266 34.1385 18.9226 35.1915 17.8476C36.2444 16.7725 36.836 15.3145 36.836 13.7941C36.836 12.2738 36.2444 10.8157 35.1915 9.74065C34.1385 8.6656 32.7103 8.06165 31.2212 8.06165H25.6065ZM14.377 13.7941C14.377 15.3145 14.9685 16.7725 16.0215 17.8476C17.0744 18.9226 20.6081 19.5266 22.0972 19.5266H25.6065V8.06165H19.9917C18.5026 8.06165 17.0744 8.6656 16.0215 9.74065C14.9685 10.8157 14.377 12.2738 14.377 13.7941ZM14.377 25.2591C14.377 26.7794 14.9685 28.2375 16.0215 29.3125C17.0744 30.3876 20.6081 30.9915 22.0972 30.9915H25.6065V19.5266H22.0972C20.6081 19.5266 17.0744 20.1305 16.0215 21.2056C14.9685 22.2806 14.377 23.7387 14.377 25.2591Z" fill="#075225"/>
			</svg>
			<div class="flex-row flex gap-3 md:w-auto md:h-auto w-48"><svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
				</svg>
				<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
					</svg>
					<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
						</svg>
						<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
							</svg>
							<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
								<defs>
								  <style>
									.cls-1 {
									  fill: #ee4799;
									}
								  </style>
								</defs>
								<g data-name="Layer_1">
								  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
								</g>
							  </svg></div>
		</div>	
		<div id="vscode" class="flex flex-row content-center items-center gap-3 p-5">
			<svg width="55" height="55" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M44.7547 1H5.24528C2.90068 1 1 2.90068 1 5.24528V44.7547C1 47.0993 2.90068 49 5.24528 49H44.7547C47.0993 49 49 47.0993 49 44.7547V5.24528C49 2.90068 47.0993 1 44.7547 1Z" stroke="#075225" stroke-width="2" stroke-miterlimit="10"/>
				<path d="M40.6224 38.6415L32.2734 42.0377L18.5469 28.4528L9.91487 35.2453L6.66016 33.4056V16.7075L9.91487 15.0094L18.5469 21.8019L32.2734 8.07544L40.6224 11.4717V38.6415ZM20.1036 25.0566L32.1319 37.0849V13.0283L20.1036 25.0566ZM9.91487 31.4245L17.2734 25.0566L10.0564 18.6886L9.91487 31.4245Z" fill="#075225"/>
				</svg>	
				<div class="flex-row flex gap-3 md:w-auto md:h-auto w-48"><svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
					</svg>
					<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
						</svg>
						<svg width="40" height="40" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M19.5387 15.8676L33.0755 14.0751V19.2905L19.5322 17.6765L18.973 17.6099V18.173V18.3597V18.5351L19.0826 18.6721L27.6808 29.4198L22.7893 32.2131L17.4079 19.6567L17.278 19.3536H16.9483H16.7616H16.4415L16.3075 19.6444L10.4811 32.2874L6.11153 29.5257L14.6463 18.5699L14.7518 18.4344V18.2626V18.0759V17.5075L14.1881 17.58L0.925781 19.2852V14.0735L14.0905 15.7781L14.6547 15.8512V15.2823V15.0955V14.9251L14.5507 14.7902L6.11643 3.85293L10.8386 1.14214L16.4021 13.6185L16.5342 13.9149H16.8587H17.0454H17.3729L17.5038 13.6147L22.9811 1.05196L27.6024 3.67066L19.0751 14.8825L18.973 15.0166V15.1852V15.3719V15.9425L19.5387 15.8676Z" fill="#FB3BA5" stroke="#FB3BA5"/>
							</svg>
							<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
								<defs>
								  <style>
									.cls-1 {
									  fill: #ee4799;
									}
								  </style>
								</defs>
								<g data-name="Layer_1">
								  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
								</g>
							  </svg>
								<svg class="h-[40px] w-[40px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 34.65 34.83">
									<defs>
									  <style>
										.cls-1 {
										  fill: #ee4799;
										}
									  </style>
									</defs>
									<g data-name="Layer_1">
									  <path class="cls-1" d="M11.34,34.83l-6.74-4.26,8.42-10.81-13.03,1.67v-8.06l12.94,1.68L4.58,4.2,11.74.09l5.53,12.4L22.71,0l7.07,4.01-8.46,11.12,13.32-1.76v8.05l-13.29-1.58,8.53,10.67-7.38,4.21-5.36-12.5-5.81,12.62ZM6.8,30.18l3.9,2.46,5.91-12.82h1.16l5.47,12.75,4.39-2.51-8.58-10.72v-1.29l14.1,1.68v-4.65l-14.1,1.87v-1.3l8.51-11.19-4.13-2.34-5.56,12.76h-1.16L11.05,2.22l-4.23,2.43,8.42,10.91v1.3l-13.73-1.78v4.64l13.83-1.78v1.3l-8.52,10.94Z"/>
									</g>
								  </svg>
								</div>		
		</div>	
	</div>
</div>
	</article>
</section>

<article class="mt-10 lg:mt-0 sm:mt-0">
	<Stjerner />
	<div id="HvadJegSoger"><Rating/></div>
</article>
<div class="md:mt-20 mt-5"><Stjerner/></div>
<section id="Kontakt">
	<article class="grid lg:grid-cols-2 grid-cols-1 md:px-44 px-6 md:-order-1 lg:pb-0 pb-20 lg:gap-4 gap-0" >
		<div class="border-black border-solid border-2 md:order-first order-last lg:pb-10 p-4 flex flex-col content-center items-center mr-0 md:mr-14 md:w-auto h-min">
			<h2 class="text-black">Kontaktinfo</h2>
		<hr class="h-1 w-[90%] my-1 bg-[#ee4799]">
		<div class="flex flex-row content-center items-center w-[80%] justify-between"><svg width="60" height="60" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_72_1390)">
			<path d="M13 48.25H35C37.8951 48.25 40.25 45.8951 40.25 43V5C40.25 2.10493 37.8951 -0.25 35 -0.25H13C10.1049 -0.25 7.75 2.10493 7.75 5V43C7.75 45.8951 10.1049 48.25 13 48.25ZM10.25 5C10.25 3.48407 11.4841 2.25 13 2.25H35C36.5159 2.25 37.75 3.48407 37.75 5V43C37.75 44.5159 36.5159 45.75 35 45.75H13C11.4841 45.75 10.25 44.5159 10.25 43V5Z" fill="#075225" stroke="#075225" stroke-width="0.5"/>
			<path d="M9 10.25H39C39.6912 10.25 40.25 9.68991 40.25 9C40.25 8.31009 39.6912 7.75 39 7.75H9C8.30877 7.75 7.75 8.31009 7.75 9C7.75 9.68991 8.30877 10.25 9 10.25Z" fill="#075225" stroke="#075225" stroke-width="0.5"/>
			<path d="M9 40.25H39C39.6912 40.25 40.25 39.6899 40.25 39C40.25 38.3101 39.6912 37.75 39 37.75H9C8.30877 37.75 7.75 38.3101 7.75 39C7.75 39.6899 8.30877 40.25 9 40.25Z" fill="#075225" stroke="#075225" stroke-width="0.5"/>
			<path d="M24 41C22.896 41 22 41.896 22 43C22 44.104 22.896 45 24 45C25.104 45 26 44.104 26 43C26 41.896 25.104 41 24 41Z" fill="#075225"/>
			<path d="M24 41C22.896 41 22 41.896 22 43C22 44.104 22.896 45 24 45C25.104 45 26 44.104 26 43C26 41.896 25.104 41 24 41Z" stroke="#075225"/>
			<path d="M19 6.25H29C29.6912 6.25 30.25 5.68991 30.25 5C30.25 4.31009 29.6912 3.75 29 3.75H19C18.3088 3.75 17.75 4.31009 17.75 5C17.75 5.68991 18.3088 6.25 19 6.25Z" fill="#075225" stroke="#075225" stroke-width="0.5"/>
			</g>
			<defs>
			<clipPath id="clip0_72_1390">
			<rect width="48" height="48" fill="white"/>
			</clipPath>
			</defs>
			</svg>
			<p class="text-black md:text-2xl">30 63 79 09</p>
			</div>
			<hr class="h-1 w-[90%] my-1 bg-[#ee4799]">
		<div class="flex flex-row  content-center items-center w-[80%] justify-between"><svg width="60" height="60" viewBox="0 0 52 42" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M51.2603 37.3319C51.2879 37.2479 51.3067 37.1593 51.3067 37.066V6.28785C51.3067 6.194 51.2879 6.10478 51.2597 6.0202C51.2556 6.00861 51.2533 5.99703 51.2486 5.98544C51.211 5.88637 51.1558 5.79716 51.0865 5.71895C51.0818 5.71373 51.0812 5.70736 51.0765 5.70215C51.0736 5.69925 51.0701 5.69809 51.0671 5.6952C50.9932 5.61756 50.9057 5.555 50.8076 5.50807C50.8 5.5046 50.7941 5.49996 50.7865 5.49648C50.6937 5.45535 50.5927 5.43218 50.4865 5.42523C50.4759 5.42465 50.4659 5.42233 50.4554 5.42233C50.4454 5.42175 50.4366 5.41943 50.4266 5.41943H1.57464C1.56466 5.41943 1.55526 5.42175 1.54528 5.42233C1.53589 5.42291 1.52649 5.42465 1.5171 5.42523C1.40965 5.43218 1.30691 5.45593 1.21297 5.49764C1.2071 5.49996 1.2024 5.50402 1.19653 5.50633C1.09672 5.55326 1.00806 5.61699 0.933495 5.69577C0.930559 5.69867 0.927036 5.69925 0.9241 5.70215C0.919403 5.70678 0.918816 5.71316 0.914119 5.71837C0.844838 5.79658 0.789061 5.88637 0.751485 5.98544C0.746788 5.99703 0.744439 6.00861 0.74033 6.02078C0.712147 6.10536 0.693359 6.19458 0.693359 6.28843V37.0671C0.693359 37.1622 0.712734 37.2525 0.741504 37.3383C0.745614 37.3499 0.747962 37.3609 0.752072 37.3725C0.790235 37.4721 0.846599 37.5619 0.916468 37.6401C0.920578 37.6447 0.921752 37.6505 0.925862 37.6552C0.929385 37.6592 0.934082 37.6615 0.938191 37.6656C0.966961 37.6951 0.998666 37.7212 1.03154 37.7467C1.04622 37.7577 1.05914 37.771 1.0744 37.7815C1.11316 37.8081 1.15484 37.8295 1.1977 37.8492C1.20827 37.8539 1.21766 37.8614 1.22823 37.8655C1.3345 37.9101 1.45134 37.9356 1.57405 37.9356H50.4254C50.5481 37.9356 50.665 37.9107 50.7712 37.8655C50.7877 37.8585 50.8029 37.8481 50.8188 37.84C50.8552 37.822 50.8916 37.8035 50.9251 37.7809C50.9427 37.7687 50.9585 37.7531 50.9756 37.7397C51.0055 37.716 51.0349 37.6922 51.0607 37.665C51.0654 37.6604 51.0707 37.6569 51.0754 37.6523C51.0801 37.6471 51.0812 37.6401 51.0859 37.6349C51.1546 37.5573 51.2098 37.468 51.2474 37.3696C51.2533 37.3568 51.2562 37.3446 51.2603 37.3319ZM2.45533 8.25874L17.2785 21.6187L2.45533 35.0853V8.25874ZM32.8368 20.9641C32.7758 21.0034 32.7112 21.0365 32.6601 21.0921C32.6407 21.1129 32.6343 21.1402 32.6172 21.1622L26.0003 27.1258L3.84447 7.15685H48.1562L32.8368 20.9641ZM18.5843 22.7953L25.4061 28.9438C25.5747 29.0955 25.7872 29.1714 26.0003 29.1714C26.2134 29.1714 26.426 29.0955 26.5939 28.9438L33.3312 22.8718L48.1521 36.1976H3.83156L18.5843 22.7953ZM34.6376 21.6946L49.5453 8.25874V35.0992L34.6376 21.6946Z" fill="#075225" stroke="#075225"/>
			</svg>			
			<p class="text-black md:text-2xl">imkgn@hotmail.com</p>
			</div>
			<hr class="h-1 w-[90%] my-1 bg-[#ee4799]">
		<div class="flex flex-row content-center items-center w-[80%] justify-between"><svg class="p-1" width="60" height="60" viewBox="0 0 41 42" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_72_1385)">
			<path d="M8.79746 16.8484H13.9897V32.8787H8.79746V16.8484ZM11.4283 9.12109C9.65124 9.12109 8.49023 10.318 8.49023 11.889C8.49023 13.4277 9.61726 14.6594 11.3604 14.6594H11.3935C13.2045 14.6594 14.3324 13.4276 14.3324 11.889C14.2984 10.318 13.2046 9.12109 11.4283 9.12109ZM26.7379 16.4718C23.9818 16.4718 22.7471 18.0271 22.0583 19.1178V16.8484H16.8646C16.9333 18.3522 16.8646 32.8787 16.8646 32.8787H22.0583V23.9262C22.0583 23.4468 22.0923 22.969 22.2289 22.6256C22.605 21.6684 23.4595 20.6772 24.8929 20.6772C26.7735 20.6772 27.5246 22.1479 27.5246 24.3019V32.8786H32.7175V23.6866C32.7175 18.7628 30.1562 16.4718 26.7379 16.4718Z" fill="#075225"/>
			<path d="M35.669 2.12109H5.33021C3.52982 2.12109 2.07031 3.6162 2.07031 5.4605V36.5393C2.07031 38.3836 3.52982 39.8787 5.33021 39.8787H35.669C37.4694 39.8787 38.9289 38.3836 38.9289 36.5393V5.4605C38.9289 3.6162 37.4694 2.12109 35.669 2.12109Z" stroke="#075225" stroke-width="3" stroke-miterlimit="10"/>
			</g>
			<defs>
			<clipPath id="clip0_72_1385">
			<rect width="41" height="42" fill="white"/>
			</clipPath>
			</defs>
			</svg>
			<a href="https://www.linkedin.com/in/ida-matilde-greve-nielsen-04656b305" target="_blank"><p class="text-black md:text-2xl underline hover:text-[#40947D] transition-colors">www.linkedin.com</p></a>
			</div>
			<hr class="h-1 w-[90%] my-1 bg-[#ee4799]">
		<div class="flex flex-row content-center items-center w-[80%] justify-between"> <svg class="p-1" width="60" height="60" viewBox="0 0 41 42" fill="none" xmlns="http://www.w3.org/2000/svg">
			<g clip-path="url(#clip0_144_275)">
			<path d="M35.669 2.12109H5.33021C3.52982 2.12109 2.07031 3.6162 2.07031 5.4605V36.5393C2.07031 38.3836 3.52982 39.8787 5.33021 39.8787H35.669C37.4694 39.8787 38.9289 38.3836 38.9289 36.5393V5.4605C38.9289 3.6162 37.4694 2.12109 35.669 2.12109Z" stroke="#075225" stroke-width="3" stroke-miterlimit="10"/>
			<path d="M24.146 39.1949L25.1459 39.1948V38.1949V36.7119C25.1459 36.1774 25.1471 35.6415 25.1483 35.1046C25.1513 33.7567 25.1543 32.4023 25.1386 31.0476L25.1385 31.0447L25.1384 31.0332V31.0332C25.138 31.0046 25.1376 30.9758 25.1372 30.9466C25.1288 30.3363 25.1186 29.5918 24.9028 28.8352C26.1324 28.4788 27.411 27.9553 28.5072 27.1617C29.9953 26.0843 31.1469 24.5042 31.3615 22.2489C31.3649 22.2136 31.3684 22.1769 31.372 22.1387C31.4547 21.2765 31.6044 19.7158 31.4627 18.1336C31.338 16.742 30.9711 15.112 29.9309 13.9568C30.2869 12.6185 30.153 11.2905 29.7531 10.032L29.7531 10.032L29.7516 10.0274C29.6556 9.73015 29.4436 9.32539 28.9727 9.12802C28.5533 8.95224 28.1587 9.04589 27.9644 9.10375C26.9257 9.40511 26.0814 9.99276 25.39 10.7151L25.3897 10.7155C25.1792 10.9356 24.9757 11.1717 24.7829 11.4023C23.9301 11.0254 23.0395 10.931 22.268 10.8855C20.6684 10.7903 18.9357 10.7193 17.2001 11.1219C16.8939 11.1913 16.5701 11.3081 16.2775 11.4234C16.1412 11.258 15.9954 11.0848 15.8478 10.919C15.1591 10.1405 14.3116 9.50435 13.2478 9.15188L13.2415 9.14974C13.1345 9.11324 12.9834 9.06167 12.8419 9.03209C12.7019 9.00284 12.3794 8.94955 12.0351 9.11391C11.6812 9.28287 11.5211 9.57666 11.4549 9.71675C11.3907 9.85252 11.3416 10.0082 11.3084 10.1132L11.3057 10.1218L11.3057 10.1218L11.3036 10.1286C10.8867 11.4826 10.8052 12.8797 11.2374 14.2904C10.2124 15.4583 9.84303 16.8669 9.73307 18.219L9.73286 18.2216C9.63792 19.4289 9.55801 20.7289 9.67566 22.0175L9.67573 22.0183C9.9362 24.847 11.4819 26.8809 13.9542 28.1145L13.9585 28.1166C14.6642 28.4645 15.3837 28.7064 16.1011 28.8857C16.053 29.042 16.0094 29.2315 16.0013 29.434C15.9987 29.4583 15.996 29.4837 15.9932 29.51C15.9596 29.8264 15.9115 30.2802 15.8187 30.7601C15.7091 31.327 15.5597 31.8009 15.3832 32.0779C15.3419 32.1428 15.3094 32.1801 15.289 32.2004C15.0976 32.1439 14.5868 31.8314 13.7352 30.6726C13.2904 30.0673 13.029 29.6549 12.835 29.3312C12.7849 29.2477 12.7351 29.1624 12.6848 29.0763C12.5537 28.8521 12.4193 28.6221 12.269 28.4025L12.2684 28.4015C11.6536 27.5047 10.8127 26.6162 9.46484 26.3425L9.46342 26.3422C9.0584 26.2605 8.62977 26.2739 8.34846 26.2827C8.3059 26.284 8.26672 26.2852 8.2315 26.286L8.20055 26.2867L8.1697 26.2893C7.87034 26.3144 7.64459 26.4508 7.52586 26.537C7.40312 26.626 7.25336 26.7646 7.14225 26.9574C6.92669 27.3237 7.01554 27.6814 7.0326 27.7501L7.03302 27.7518C7.06629 27.8859 7.11868 27.994 7.15718 28.0635C7.21949 28.1761 7.3501 28.3761 7.56661 28.5233C8.49415 29.1577 8.99663 30.0904 9.64326 31.2907C9.72246 31.4377 9.80382 31.5887 9.88839 31.7437C10.2528 32.4115 10.8553 33.356 11.6904 34.1287C12.5265 34.9023 13.6857 35.582 15.1224 35.4984C15.2491 35.4914 15.4822 35.4971 15.7926 35.5046C15.821 35.5053 15.8502 35.506 15.8799 35.5067C15.8847 35.7828 15.8907 36.0623 15.8966 36.3399L15.897 36.3579C15.9106 36.9921 15.9238 37.6167 15.9238 38.1951V39.1951L16.9239 39.1951L24.146 39.1949Z" stroke="#075225" stroke-width="2"/>
			</g>
			<defs>
			<clipPath id="clip0_144_275">
			<rect width="41" height="42" fill="white"/>
			</clipPath>
			</defs>
			</svg>		
			<a href="https://github.com/idamatilde" target="_blank"><p class="text-black md:text-2xl underline hover:text-[#40947D] transition-colors">https://github.com</p></a>
			</div>
			<hr class="h-1 w-[90%] my-1 bg-[#ee4799]">
		</div>
		<div class="flex flex-col lg:pt-0 pt-10 max-w-[450px] md:max-w-[100%] m-auto">
			<h1 class="text-black text-left">Hvad jeg søger:</h1><p class="text-black">Jeg søger en arbejdsplads der kan føre mig ud i projekter, hvor arbejdet er både <span class="text-[#ee4799]">udfordrende</span> og <span class="text-[#ee4799]">lærerigt</span>.
			</p> 
		<p class="text-black">Specielt arbejdsopgaver vedrørende <span class="text-[#ee4799]">digital design</span> og <span class="text-[#ee4799]">digitalt indhold</span> er jeg interesseret i. Om arbejdet er i Figma, Illustrator eller noget tredje, er jeg ikke specifik med. Jeg er klar på alt i kan byde af <span class="text-[#ee4799]">viden</span> fra <span class="text-[#ee4799]">arbejdsfeltet</span>.</p>
	<p class="text-black">Jeg glæder mig til at se de kompetencer jeg har lært på KEA anvendes i et rigtigt arbejdsmiljø, og håber, at det kan blive hos jer!</p></div>
	</article>
</section>
</MainLayout>
