---
---
<!-- <section class="w-full overflow-hidden -z-50 relative -translate-y-96">
    <img src="3-trans-pic.png" alt="" class="w-full">
</section> -->
<section class="w-full overflow-hidden -z-50 relative md:-translate-y-80">
    <div class="w-full">
       <img src="3-trans-pic.webp" alt="" class="w-full">
    </div>
    <div >
        <slot/>
    </div>
    <div class="w-full">
        <img src="3-trans-pic-bottom.webp" alt="" class="w-full">
    </div>
</section>